---
title: Boston Exhibit 2013
date: 2013-03-11
snippet: I was fortunate and privileged to be able to organize a curated and juried exhibit in The McGladrey Art Gallery in Boston.
thumbnail: assets/thumbnail.jpg
_content: false
---

extends ../views/news_single
block news-content
  :marked
    I was fortunate and privileged to be able to organize a curated and [juried](http://www.sunnesavage.com/ "Sunne Savage") exhibit in The [McGladrey Art Gallery](http://www.sunnesavage.com/tag/mcgladrey-art-gallery/ "McGladrey Art Gallery") in Boston.

    To date, the reception's attendance was the largest recorded- thanks to the hard work of many people combining business, art, and research.
    [ArtBeyond](http://www.artbeyond.org "ArtBeyond") helped to raise funds for much needed spinal cord injury research at [MIT-Harvard labs](http://www.travisroyfoundation.org/research/researchers/we-are-pleased-to-introduce-dr-zhigang-he "Dr. He").
    Please check out the gallery images below.
