---
title: Topsfield 2015
date: 2015-11-1
snippet: Oils and Digital Mandalas on Metal
thumbnail: assets/thumbnail.jpg
_content: false
---

extends ../views/_news_single
block news-content
  :marked
    ### Gallery Photos November Topsfield, MA

    ![space cable](exhibits/assets/topsfield-15-1.jpg)
    ![mandala on metal](exhibits/assets/topsfield-15-2.jpg)
    ![tumbling thoughts](exhibits/assets/topsfield-15-3.jpg)
    ![horse tunnel](exhibits/assets/topsfield-15-4.jpg)
