extends layout

block head
  - relative_path = '../../'
  title= post.title + ' | Exhibit | Chaz Southard'

block css
  link(href=relative_path+'css/exhibit_single.css', rel='stylesheet')
  block exhibit-css

block content
  article.page.exhibit-item-page
    header
      a.back-arrow(href=relative_path+'news.html'): i.fa.fa-long-arrow-left
      h1= post.title

    block exhibit-content

block js
  block exhibit-js