- var relative_path = ''
- var heading = 'C. Southard Artwork'
doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    block head

    link(href='//fonts.googleapis.com/css?family=Raleway:700,600,400,300,200', rel='stylesheet')
    link(href=relative_path+'css/font-awesome.min.css', rel='stylesheet')
    link(href=relative_path+'css/global.css', rel='stylesheet')

    script.
      (function() {
        var config = {
          kitId: 'ddz8cuy'
        };
        var d = false;
        var tk = document.createElement('script');
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.type = 'text/javascript';
        tk.async = 'true';
        tk.onload = tk.onreadystatechange = function() {
          var rs = this.readyState;
          if (d || rs && rs != 'complete' && rs != 'loaded') return;
          d = true;
          try { Typekit.load(config); } catch (e) {}
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tk, s);
      })();

    block css

  body
    include _header

    block content
    
    include _footer

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

    != client_templates(relative_path)

    script(src=relative_path+'js/global.js')
    block js