extends layout

block head
  - relative_path = '../'
  title= post.title + ' | News | Chaz Southard'

block css
  link(href='../css/news_single.css', rel='stylesheet')
  block news-css

block content
  article.page.news-item-page
    header
      a.back-arrow(href='../news.html'): i.fa.fa-long-arrow-left
      h1= post.title

    block news-content

block js
  block news-js