extends layout

block head
  title News | Chaz Southard

block css
  link(href='css/news.css', rel='stylesheet')

mixin display-news(post)
  - var date = new Date(post.date)
  article.news-item

    header
      .thumb
        a(href='.'+post._url): img(src='news/'+post.thumbnail)

      span.date
        = monthNames[date.getMonth()] + ' '
        = date.getDate() + ', '
        = date.getFullYear()

      h2.title
        a(href='.'+post._url)
          = post.title
      
    p
      != post.snippet
      br
      small: a(href='.'+post._url) read more &raquo;

mixin display-exhibit(exhibit, date)
  article.exhibit-item
    .content
      header
        span.date
          = monthNames[date.getMonth()] + ' '
          = date.getDate() + ', '
          = date.getFullYear()
        h4.title
          a(href='.'+exhibit._url)
            = exhibit.title
block content
  section.page.news-page
    .page-head
      h1 News &amp; Blog

    .news.page-inner

      - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
      
      - var posts = site.news
      - posts.sort(function(a,b){return (new Date(a.date)) < (new Date(b.date))})

      - var exhibits = site.news.exhibits
      - exhibits.sort(function(a,b){return (new Date(a.date)) < (new Date(b.date))})
      
      - var current_date = new Date()

      .articles
        each post in posts
          +display-news(post)

      .exhibits
        .upcoming
          h3 Upcoming Exhibits
          each exhibit in exhibits
            - var date = new Date(exhibit.date)
            if date >= current_date
              +display-exhibit(exhibit, date)
        .past
          h3 Past Exhibits
          each exhibit in exhibits
            - var date = new Date(exhibit.date)
            if date < current_date
              +display-exhibit(exhibit, date)