if !locals.display_type
  - locals.display_type = 'poetry'

mixin display-nav(type)
  each article in locals.words[type]
    li: a(href='#'+article.title.toLowerCase().replace(/[^\w]+/g, '-'))
      span= article.title

mixin display-words(type)
  - var words = locals.words[type]
  each article in words
    article
      != article.content

h2= locals.display_type

nav.sidenav
  ul
    +display-nav(locals.display_type)

.articles(data-loaded=locals.display_type)
  +display-words(locals.display_type)