@import '_settings'
@import '_animations'
@import 'jeet'

.item-single-page
  center(980px)
  padding: 45px
  +between(546px, 860px)
    padding: 30px
  +below(545px)
    padding: 20px
  
  a:hover
    text-decoration: underline
  
  header
    .back-arrow
      float: left
      color: font-light-color
      font-size: 1.25em
      margin-top: 8px
      margin-right: 20px
      &:hover
        color: font-color

  p
    font-size: 1.25em
    margin: 15px 0
    color: #83868c;
    letter-spacing: 1px

  img
    max-width: 100%
    display: block
    margin: 20px auto