---
title: McGladrey Friend & Family Gallery Charlestown, MA 2014
link: https://www.facebook.com/events/503222149806791/
description: An exhibition of artwork by 51 artists and artisians including graphite drawing, blown glass, painting, mosaic, quiltmaking, photography, and turned wood.
date: 2014-06-18
---

extends ../../views/exhibit_single
block exhibit-content
  :marked
    ### Gallery Invitation

    ![Invitation](assets/boston-2014-invitation.jpg)

    ### Gallery Photos

    ![Exhibit](assets/boston-2014-1.jpg)
    ![Exhibit](assets/boston-2014-2.jpg)