---
title: ArtBeyond Boston, MA 2013
link: http://www.bostonmagazine.com/health/blog/2013/06/14/art-therapy-exhibit-boston/
description: ArtBeyond explores the concept of healing in contemporary art. Just as musicians create harmony from dissonance, artists who have experienced injury or illness find unity, simplicity and peace by exploring the inner realms.
date: 2013-06-17
---

extends ../../views/exhibit_single
block exhibit-content
  :marked
    ### Gallery Invitation

    ![Invitation](assets/boston-2013-invitation.jpg)

    ### Gallery Photos

    ![Thumbnail](assets/boston-2013-1.jpg)
    ![Thumbnail](assets/boston-2013-2.jpg)
    ![Thumbnail](assets/boston-2013-3.jpg)
    ![Thumbnail](assets/boston-2013-4.jpg)
    ![Thumbnail](assets/boston-2013-5.jpg)
    ![Thumbnail](assets/boston-2013-6.jpg)
    ![Thumbnail](assets/boston-2013-7.jpg)

    ### Artist Statement Boston 2013

    Chaz Southard's vibrant, mellifluous abstract expressionist style is inspired by midcentury masters, hieroglyphics and textiles with an added energetic dose of jazz fusion. A spinal injury was the catalyst of his visual creations and led to an existential quest to find beauty and solace through creation.

    His artwork has been displayed at several North Shore Massachusetts galleries.  Chaz continues to paint with the aspiration of creating work that brings the viewer into a space of curiosity and imagination.

    #### Press links

    - *Boston Magazine* : ["ArtBeyond Exhibit Celebrates Art as Therapy"](http://www.bostonmagazine.com/health/blog/2013/06/14/art-therapy-exhibit-boston/)

    - *Travis Roy Foundation* : ["Artbeyond Gallery Opening"](http://www.travisroyfoundation.org/artbeyonds-opening-gives-back-to-the-travis-roy-foundation/)