---
title: Example Upcoming Exhibit
date: 2016-08-1
---

extends ../../views/exhibit_single
block exhibit-content
  :marked
    Example exhibit

    ### Gallery Photos

    ![Thumbnail](assets/boston-2013-5.jpg)