---
title: Newburyport Art Association, Winter Juried Show 2006
link: http://www.newburyportart.org/Archive/WJS2_06/winter2_06.html
description: Pastel, Drawing, Printmaking, Photography, Digital Art, Fine Crafts at the Sargent and Hartson Galleries.
date: 2006-02-19
---

extends ../../views/exhibit_single
block exhibit-content
  :marked
    ### Gallery Photos

    ![Digital Mandala 'Erotica'](assets/newburyport-2006-1.jpg)
    ![Digital Mandala 'Mothra'](assets/newburyport-2006-2.jpg)
