---
title:  Topsfield, MA 2011
link:  http://www.topsfieldtownlibrary.org/Art/art.html
description:  A month-long gallery exhibition, "Bubbles & Boxes". The pieces were selected from a collection of abstract oil paintings and digitally generated artwork.
date: 2011-07-1
---

extends ../../views/exhibit_single
block exhibit-content
  :marked
    ### Gallery Invitation

    ![Invitation](assets/topsfield-invitation.png)

    ### Gallery Photos

    ![Mandala Grid](assets/topsfield-exhibit-2011-1.jpg)
    ![Panarama](assets/topsfield-exhibit-2011-2.jpg)
    ![Panarama](assets/topsfield-exhibit-2011-3.jpg)

    ### Gallery Artist Statement 2011

    Chaz Southard is an award winning artist, poet and a long time Boston Area resident. He earned his undergraduate degree in Environmental Science from the University of New Hampshire, Web Design Certification from Boston University and currently a master degree candidate in Psychology at Lesley University in Cambridge Massachusetts. In addition, he is a nationally recognized advocate for the spinal cord injury community having written numerous articles and appearing on television across the country.

    Chaz paints with the intention of creating a piece that brings the viewer into a space of curiosity and imagination. The fundamental elements in each piece are the ambiguity of space and time, rhythm, ordered chaos and the fluidity of a line. So much of both are seen in his web design work, paintings and digital artwork.

